<!--include Header-->
<%- include('../partial/_adminHeader')%>
<!--include /Header-->
<!--Main Section-->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between">
          <div class="filter">
                <a href="/admin/view-category"><i class=" fas fa-angle-double-left"></i>All Categories</a>
          </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Category</h2>
            <span class="text-light">Update category using the form below</span>
        </div>

       
                <!--Form Handling-->
                <form action="/admin/update-category" method="post" enctype="multipart/form-data">
                    <div class="form-group row mt-3">
                      <input type="hidden" name="id" value="<%= category._id%>">
                      <label for="category-name" class="col-sm-2 col-form-label">Name</label>
                      <div class="col-md-4">
                        <input type="text"  class="form-control" id="categoryName" name="categoryName" value="<%= category.categoryName%>">
                        <span id="nameError"></span>
                      </div>
                    </div>
                    <div class="form-group row mt-3">
                      <label for="categoryImage" class="col-sm-2 col-form-label">Image</label>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="file" class="form-control" id="categoryImage" name="image">
                          <span id="imageError"></span>
                      </div>
                   </div>
                      <label for="category-description" class="col-sm-2 col-form-label">Description</label>
                      <div class="col-md-4">
                        <textarea placeholder="" class="form-control" style="width:100%; height:120px" id="categoryDescription" name="categoryDescription"><%= category.categoryDescription%></textarea>
                      <span id="descriptionError"></span>
                      </div>
                  
                   <div class="form-group">
                    <div id="existingImages">
                      <% for (const image of category.categoryImage) { %>
                        <img src="/img/product-images/<%= image %>" alt="Category Image" class="existing-image"  width="100" height="100">
                        <span class="" data-image="<%= image %>">
                          <i class="fa fa-trash delete-icon"></i> 
                        </span>
                      <% } %>
                    </div>
                  </div>
                    </div>

                    <div class="form-group row mt-3">
                        <div class="col-sm-10 ml-5">
                          <input type="submit" class="btns" value="Update">
                        </div>
                      </div>
                  </form>
                <!--/Form Handling-->
            </div>
        </main>
        <!--/Main Section-->
            
        <!--include Footer-->
        <%- include('../partial/_adminFooter')%>
        <!--include /Footer-->



